
body
{
	background: #3E465F;
	background-size: cover; 
}

.parent
{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.inner
{
	display: table-cell;
	width: 800px;
	height: 600px;		
	text-align: center;
	vertical-align: middle;
}
